body {
  padding: 20px 0 65px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

h1, h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.navbar-transparent {
  background: transparent;
}

.max-width-800px {
  max-width: 800px;
}

.max-width-600px {
  max-width: 600px;
}

.handwritten-font {
  font-family: 'Permanent Marker';
}

/* https://github.blog/2008-12-19-github-ribbons/ */
#forkMeRibbon {
  position: absolute;
  top: 0;
  left: calc(100% - 149px);
}

/* https://stackoverflow.com/questions/1853662 */
#spinnerContainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #f5f5f5;
  z-index: 99;
  text-align: center;
}

/* https://stackoverflow.com/questions/51702756 */
#spinner {
  position: absolute;
  top: calc(40% - 100px);
  left: calc(50% - 100px);
  z-index: 100;
}

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
/* https://stackoverflow.com/questions/27583937/how-can-i-make-a-css-glass-blur-effect-work-for-an-overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.overlay-text {
  color: black;
  font-size: 24px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.blur {
  filter: blur(6px);
}
