body {
    padding: 20px 0 65px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }

.navbar-transparent {
    background: transparent;
}

.max-width-800px {
    max-width: 800px;
}

.max-width-600px {
    max-width: 600px;
}

/* https://stackoverflow.com/questions/1853662 */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #f5f5f5;
    z-index: 99;
    text-align: center;
}

/* https://stackoverflow.com/questions/51702756 */
#spinner {
    position: absolute;
    top: calc(40% - 100px);
    left: calc(50% - 100px);
    z-index: 100;
}
